/*
*
*   Custom CSS - CSS3 Styling
*   CREATED: 01/10/2014
*   AUTHOR: James Hanford
*   VERSION: 0.0.3
*   Copyright © 2014
*
*/

/***************************
TYPOGRAPHY
***************************/
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400,600);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/***************************
STANDARD CLASSES
***************************/
body{
    font-size: 14px;   
}

.clear{
clear: both;
}

.circle {
   border-radius: 50%;
   behavior: url(PIE.htc); /* IE8 SUPPORT */
}

.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-hoz {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;   
}

.translate-y-0 {
    transform: translateY(0%) !important;
}

/* Removes hyperlink underline */
a{  
    text-decoration: none !important;
}

input{
    text-transform: capitalize;
    outline: none;
    outline-color: transparent;
}

*:focus{
    outline: none;
    outline-color: transparent;
}
ul{
    list-style-type: none;
}

.Nav-Container{
    width: 200px;
    height: 100vh;
    background-color: #2d3441;
    float: left;
    
    font-size: 85%;
    font-family: 'Hind';
    text-transform: uppercase;
    position: fixed;
}
.Nav-Container a.blocks{
    display: block;
    width: 50%;
    height: 5rem;
    line-height: 5rem;
    float: left;
    text-align: center;
    background-color: #de6f68;
    color: white;
}
.Nav-Container a.blocks:hover{
    color: rgba(255, 255, 255, 0.7);   
}
    
.Nav-Container ul{
    margin: 90px 0; 
    padding: 0;
    width: 100%;
}
.Nav-Container li{
    padding: 12px 0;
    margin: 5px 0;
    padding-left: 40px;
    color: #8f9da7;
}
.Nav-Container li.active{
    background-color: #29303a; 
    color: white;
}

.Top-Bar{
    width: 100%;
    height: 5rem;
    background-color: #e4e9ed;
    border-bottom: 0.1rem solid #dae1e6;
    border-top: 0.1rem solid #dae1e6;
}
.Top-Bar h1{
    margin: 0;
    line-height: 5rem;
    font-size: 170%;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-left: 10px;
    
    color: #2d3441;
}

.Content-Container{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 200px;
}
.Dash-Container{
    display: inline-block;
    padding: 50px 100px;
    width: 100%;
}
#dashboard{
    margin: 0 auto;   
}
.Reviews-Container, .NewReview-Container, .UpdateReview-Container, .Categories-Container, .NewCategory-Container, .UpdateCategory-Container, .Admin-Container, .NewAdmin-Container, .Account-Container, .Theme-Container{
    display: inline-block;
    padding: 50px 100px;
    width: 100%;
    font-family: 'Hind';
}
.button2{
    margin-top: 20px;   
}
label{
    margin-bottom: 30px;   
}
.Reviews-Container p, .Categories-Container p, .Admin-Container p, Theme-Container p{
    font-family: 'Hind';
    font-size: 120%;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #666;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	background:#eaebec;
	margin:20px;
	border:#ccc 0px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
.success{
    color: #2ecc71;   
}
.error{
    color: #e74c3c;   
}
label{
    margin-right: 10px;   
}
footer{
    margin-top: 50px;
    width: inherit;
    text-align: center;
    font-family: 'Hind';
    font-size: 80%;















